*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-back{
    text-decoration: none;
    color: black;
   
}

.logo {
    text-align: center;
  }

.logoLog{
    display: inline-block;
    vertical-align: middle;
}
/*  */

/* Content */
#content{
    margin: auto;
    margin-top: 10rem;
    display: table;
    height: 616px;
}

#content2{
    margin: auto;
    margin-top: -20rem;
    display: table;
    height: 100px;
    display: flex;
    flex-direction: row;
}

hr.rounded {
    border-top: 3px solid #000000;
    border-radius: 5px;
  }

.button{
    height: 40px;
    border: none;
}
#signUp-btn{
    background: #96B6C5;
    color: white;
}

#cancel-btn{
    background: rgba(255, 0, 0, 0.51);
    color: white;
}


@media screen and (max-width: 800px) {
 #content2{
    display: flex;
    flex-direction: column;
 }

 .phoneNum{
    margin-top: 60px;
 }
  }
/*  */